
body{
  background-color: #000;
  color: #fff;
}

.fruits-container{
  margin-top: 100px;
  max-width: 80%;
  margin-left: 10%;
}

.slick-slide{
  width: 30px;
}

img.fruit{
  width: 180px;
  margin: 10px;
  opacity: 0.7;
  border: 3px solid #000;
}

img.current-fruit{
  width: 250px;
  opacity: 1;
  border: 3px solid #fff;
}

#main_title{
  text-align: center;
  padding: 20px;
  width: 100%;
  background-color: rgb(136, 62, 153);
  color: #fff;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: bold;
}

#seleced_song_name{
  text-align: center;
  padding: 20px;
  background: rgb(74, 162, 88);
  color: #fff;
}

.song-item.selected{
  background-color: rgb(236, 68, 85);
}

.row > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.song-item{
  padding: 10px 20px;
}

.music-fruit{
  width: 60px;
  margin: 20px;
  padding: 10px;
  opacity: 0.5;
  border-radius: 6px;
  border-bottom: 2px solid #333;
}

.current-music-fruit{
  opacity: 1;
  border-bottom: 2px solid #fff;
}
