
body{
  background-color: #000;
  color: #fff;
}

#threashold{
  position: absolute;
  left: 50px;
  width: 500px;
  height: 300px;
  margin-top: 200px;
  background-color: yellow;
}

#threasholdLine{
  width: 5px;
  height: 100%;
  background: orange;
  margin-left: 30%;
}

#fruits-container{
  margin-top: 200px;
  width: 100%;
  height: 300px;
  background-color: #333;
}

.fruit{
  position: absolute;
  display: none;
  -webkit-animation-duration: 7s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-direction: reverse;
}

.fruit-even{
  margin-top: 150px;
}

@-webkit-keyframes moveit {
  from {
    transform: translateX(-100px);
  }
  to {
    transform: translateX(1470px);
  }
}

#seleced_song_name{
  text-align: center;
  padding: 20px;
  background: rgb(74, 162, 88);
  color: #fff;
}
